# 20 march
### data structures in Python

In [2]:
#list[]
numbers=[]
print(numbers)#output:[]

[]

In [3]:
#create an empty list
numbers=list()
print(numbers)

[]

In [4]:
#create a list of numbers
numbers=[1,2,3]
print(numbers)

[1, 2, 3]

In [5]:
numbers=list(range(1,4))
print(numbers)

[1, 2, 3]

In [9]:
#create a list of lists
list_of_lists=[[1,2],[2,4],[3,6]]
print(list_of_lists)

[[1, 2], [2, 4], [3, 6]]

In [10]:
random_list=[1,"hey",[1,2],9.78,'f']
print(random_list)

[1, 'hey', [1, 2], 9.78, 'f']

In [11]:
numbers=[5,8,8]
print(len(numbers))

3

In [12]:
str_list=["hey","there!","how","are","you?"]
print(str_list[0])
print(str_list[len(str_list)-1])
print(str_list[-1])

hey
you?
you?

In [13]:
numbers=[1,2]
print(numbers)
numbers.append(3)
print(numbers)

[1, 2]
[1, 2, 3]

In [16]:
numbers=[1,2]
string=["hey","there!"]
print(numbers+string)

[1, 2, 'hey', 'there!']

In [17]:
numbers=[1,2,3]
numbers[0]=100
print(numbers)

[100, 2, 3]

In [18]:
numbers[0:2]=[300,400]
print(numbers)

[300, 400, 3]

In [19]:
numbers[1:3]=[]
print(numbers)

[300]

In [20]:
numbers[:]=[]
print(numbers)

[]

In [21]:
greeting=["how","you?"]
greeting.insert(1,"are")
print(greeting)

['how', 'are', 'you?']

In [22]:
str_list=["hey","there!","how","are","you?"]
print(str_list[2:])
print(str_list[:2])
print(str_list[-3:])
print(str_list[:-3])
print(str_list[1:4])
print(str_list[:])

['how', 'are', 'you?']
['hey', 'there!']
['how', 'are', 'you?']
['hey', 'there!']
['there!', 'how', 'are']
['hey', 'there!', 'how', 'are', 'you?']

In [23]:
li=[1,2,3,4,5]
li.extend([6,7,8])
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
li=[1,2,3,4,5]
li.remove(1)
print(li)

[2, 3, 4, 5]

In [25]:
li=[1,2,3,4,5]
li.reverse()
print(li)

[5, 4, 3, 2, 1]

In [27]:
print(reversed(li))
print(li)

<list_reverseiterator object at 0x0000028AE4382940>
[5, 4, 3, 2, 1]

In [29]:
li=[3,1,4,2,5]
li.sort()
print(li)

[1, 2, 3, 4, 5]

In [32]:
li=[3,1,4,2,5]
li.sort(reverse=True)
print(li)

[5, 4, 3, 2, 1]

In [33]:
li=[3,1,4,2,5]

print(sorted(li))
print(li)

[1, 2, 3, 4, 5]
[3, 1, 4, 2, 5]

In [34]:
print(type(li))

<class 'list'>

In [35]:
print("length of a list=",len(li))
print("maximum of a list=", max(li))
print("minimum of a list=",min(li))
print("sum of a list=",sum(li))

length of a list= 5
maximum of a list= 5
minimum of a list= 1
sum of a list= 15

In [36]:
#example 1
import numpy as np
a=[4,6,7,3,1]
b=[x for x in a if x>5]
b

[6, 7]

In [38]:
#example 2
import numpy as np
a=[4,6,7,3,2]
b=[x*2 for x in a if x>5]
b

[12, 14]

In [ ]:
#example 3
names=['Ch','Dh','Eh','cb','tb','Td']
new_names=

## Dictionary{}

### dictionaries

##### a dictionary is a list of associations composed by a unique key and corresponding structures.
#### dictionaries are  mutable like lists

In [39]:
D ={}

In [42]:
D1=dict()#empty
D1

{}

In [43]:
D={"Nmae":"Teena"}
D

{'Nmae': 'Teena'}

In [44]:
D2={"Age":[12,34,56,87,90]}
D2

{'Age': [12, 34, 56, 87, 90]}

In [50]:
D2={"Marks":[12,23,35,45],
   "Age":[12,34,56,87],
   "Salary":[232,454,6767,78787]}
D2

{'Marks': [12, 23, 35, 45],
 'Age': [12, 34, 56, 87],
 'Salary': [232, 454, 6767, 78787]}

In [51]:
import pandas as pd
df=pd.DataFrame(D2)
df

   Marks  Age  Salary
0     12   12     232
1     23   34     454
2     35   56    6767
3     45   87   78787

In [52]:
#example1:get current date and time
import datetime
datetime_object=datetime.datetime.now()
print(datetime_object)

2024-03-20 14:42:09.499086

In [54]:
#can also be written as dt
import datetime as dt
datetime_object=dt.datetime.now()
print(datetime_object)

2024-03-20 14:42:34.643919

In [55]:
#Example2
import datetime
date_object=datetime.date.today()
print(date_object)

2024-03-20

## Whats inside datetime
### we can use dir() functionto get  list containing all attrobutes of a module

In [56]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [ ]:
#commonly used classes in the datetime module are
#date class
#time clas

#datetime class
#timdelta class
#datetime.data class

In [58]:
#example 3:date object to rep a date
import datetime
d=datetime.date(2019,4,13)
print(d)

2019-04-13

In [61]:
from datetime  import date
a=date(2019,4,13)
print(a)

2019-04-13

In [62]:
#example 4: get current adte
from datetime import date
today=date.today()
print("current date=",today)

current date= 2024-03-20

In [63]:
#example 5: get date from a timestamp
from datetime import date
timestamp=date.fromtimestamp(1326244364)
print("date=",timestamp)

date= 2012-01-11

In [64]:
#example 6:print today's year , month and day
from datetime import date
#date object of todays date
today=date.today()

print("current year:",today.year)
print("current month:",today.month)
print("current day:",today.day)

current year: 2024
current month: 3
current day: 20

In [67]:
#example 7: time object to rep time
from datetime import time
#time(hour=0,minute=0,second=0)
a=time()
print("a=",a)

#time(hour,minute, second)
b=time(11,34,56)
print("b=",b)

#time(hr,min,sec)
c=time(hour=11,minute=34,second=56)
print("c=",c)

#time (h,m,sec,microsec)
d=time(11,34,56,234566)
print("d=",d)

a= 00:00:00
b= 11:34:56
c= 11:34:56
d= 11:34:56.234566

In [68]:
#exaple 8: print hr,min,sec and micsec
from datetime import time
a=time(11,34,56)
print("hour=",a.hour)
print("minute=",a.minute)
print("second=",a.second)
print("microsec=",a.microsecond)

hour= 11
minute= 34
second= 56
microsec= 0

In [71]:
#strftime()

from datetime import datetime
timestamp=1528797322
date_time=datetime.fromtimestamp(timestamp)

print("date time object: ",date_time)

d=date_time.strftime("%a,%d,%Y,%H:%M:%S")
print("output",d)
                     
                     
d=date_time.strftime("%d,%b,%Y")
print("output3:", d)

d=date_time.strftime("%d,%B,%Y")
print("outpu4:",d)
                     
d=date_time.strftime("%I%p")
print("output 5", d)

date time object:  2018-06-12 15:25:22
output Tue,12,2018,15:25:22
output3: 12,Jun,2018
outpu4: 12,June,2018
output 5 03PM

In [76]:
#example 5: difference between two points in time using

from datetime import date

today=date(year=2019,month=12,day=5)
new_year=date(year=2020,month=1, day=1)
time_left_for_new_year=new_year-today

print("time left for new year:", time_left_for_new_year)

t1=datetime(year=2019,month=12,day=5,hour=0, minute=59, second=0)
t2=datetime(year=2020,month=1,day=1,hour=0, minute=0, second=0)

diff=t2-t1

print("time left for new year", diff)

time left for new year: 27 days, 0:00:00
time left for new year 26 days, 23:01:00

In [77]:
from dateutil import parser
d1=parser.parse(input("enter date:"))
d1

enter date:14/08/2023

datetime.datetime(2023, 8, 14, 0, 0)

In [85]:
parser.parse("June, 25,2002").strftime("%a")

'Tue'

In [82]:
parser.parse("2003/05/23").strftime("%A")

'Friday'

In [2]:
a=input("enter a nummber")

enter a nummber 4

In [3]:
type(a)

str