# PROGRAM 1 

### FEB 14 2024

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
#beautiful is better than ugly
a=10
b=10
a+b

20

In [3]:
#avoid too many level of nesting

In [4]:
%quickref

In [5]:
#the above code gives helper for document??

#### syntax of language

In [6]:
# a code line that shows the result og 7 times 3

In [7]:
#print is abuilt in function, so use paranthesis
print(7*5)

35

In [8]:
#examples of broken lines
c=range(1,
11)
c

range(1, 11)

In [10]:
# a line broken by backslash
a=7*3+\
5/2
a

23.5

In [11]:
#data structures like list, map.o, tree, group, dictionary, taple, array

In [2]:
# list (broken by commas)
b=['a','b','c',
'd','e']
b

['a', 'b', 'c', 'd', 'e']

In [14]:
# a function call(broken by comma)
c=range(1,
11)

In [15]:
#prints everything
print(a,b,c)

23.5 ['a', 'b', 'c', 'd', 'e'] range(1, 11)

In [4]:
#loop
n= int(input("Enter n"))
#range function always starts with 0
for i in range(n):
    if(i%2==0):
        print(i,"Even Number")
    else:
        print("Odd Number")

Enter n10
0 Even Number
Odd Number
2 Even Number
Odd Number
4 Even Number
Odd Number
6 Even Number
Odd Number
8 Even Number
Odd Number

In [19]:
n= int(input("Enter n"))
#range function always starts with 0
for i in range(n):
    if(i%2==0):
        print(i,"Even Number")
    else:
        print(i,"Odd Number")

Enter n10
0 Even Number
1 Odd Number
2 Even Number
3 Odd Number
4 Even Number
5 Odd Number
6 Even Number
7 Odd Number
8 Even Number
9 Odd Number

In [20]:
#the operator % computes the modulus (remainder of division)

In [21]:
#for i on the list 234,654,378,798:
for i in [234,654,378,798]:
    # if the remainder dividing by 3 is equal to 0:
    if i%3==0:
        #prints...
        print(i,'/3=',i/3)

234 /3= 78.0
654 /3= 218.0
378 /3= 126.0
798 /3= 266.0

In [23]:
Salary=int(input("Enter Salary"))

Enter Salary25000

In [24]:
Salary*0.25

6250.0

In [25]:
Hike=Salary+(Salary*0.25)
Hike

31250.0

In [26]:
Deduction= Salary*0.05
Deduction

1250.0

In [27]:
NetSalary=Hike-Deduction
print("Net Salary =", NetSalary)

Net Salary = 30000.0

In [28]:
Salary=int(input("Enter Salary"))
Salary*0.25
Hike=Salary+(Salary*0.25)
Hike
Deduction= Salary*0.05
Deduction
NetSalary=Hike-Deduction
print("Net Salary =", NetSalary)

Enter Salary10000
Net Salary = 12000.0

In [29]:
#the above was after merging the codes (copy pasted)

In [32]:
a=int(input("Enter Number"))

Enter Number10

In [33]:
p=4*a

In [34]:
print("Perimeter",p)

Perimeter 40

In [39]:
#perimeter of rectangle 
l=int(input("Enter Number"))

Enter Number2

In [40]:
b=int(input("Enter Number"))
p=2*(l+b)
print("Perimeter of Rectangle", p)

Enter Number4
Perimeter of Rectangle 12

In [7]:
#circumference of circle
pi=int(input("Enter Number pi"))
r=int(input("Enter Radius"))
c =2*pi*r
print("circumference", c)

Enter Number pi10
Enter Radius5
circumference 100

##### conversions required in some questions
##### converting a distance from foot to inches

In [44]:
#1 foot = 12 inches
F= int(input("Enter Foots"))
inc=F*12
print("Foots:",F,"------------","Inches",inc)

Enter Foots10
Foots: 10 ------------ Inches 120

##### from inches to foot

In [46]:
#from inches to foot
inc=int(input("enter inches"))
f=inc/12
print("inches:",inc,"--------------","foots",f)

enter inches120
inches: 120 -------------- foots 10.0

###### converting area
###### converting square foot to square inches

In [47]:
#1 square foot=144 square inches

In [48]:
SF= int(input("Enter Square Foots"))
S_inc=F*144
print("Square Foots:",SF,"------------","Square Inches",S_inc)

Enter Square Foots10
Square Foots: 10 ------------ Square Inches 1440

In [50]:
#from square inches to square foot
S_inc=int(input("enter Sq inches"))
S_f=S_inc/144
print("Sq inches:",S_inc,"--------------","Sq_foots",S_f)

enter Sq inches1440
Sq inches: 1440 -------------- Sq_foots 10.0

### Data types

In [82]:
c=3+4j
c

(3+4j)

In [1]:
#complex number
c=3+4j
print('c=',c)
print('Real Part',c.real)
print('Imaginary Part',c.imag)
print('Conjugate',c.conjugate())

c= (3+4j)
Real Part 3.0
Imaginary Part 4.0
Conjugate (3-4j)

In [1]:
#converting real to integer
print('int(3.14)=',int(3.14))

int(3.14)= 3

In [3]:
#converting integer to real
print('float(5)=',float(5))

float(5)= 5.0

In [4]:
#calculation between integer and real results in real
print('5.0/2+3=',5.0/2+3)

5.0/2+3= 5.5

In [5]:
#integers in other base
print("int('20',8)=", int('20',8))#base 8
#multiplying with the power of 8-octal system

int('20',8)= 16

In [6]:
print("int('20',16)=", int('20',16))#base 16
#multiplying with the power of 16-hexadecimal sys?

int('20',16)= 32

In [7]:
print("int('41',16)=", int('41',16))

int('41',16)= 65

In [8]:
print("int('41',8)=", int('41',8))

int('41',8)= 33

In [9]:
#Bitwise operations
#left shift(<<)
#right shift(>>)
#and(&)
#or|
#exclusive or(^)
#inversion(~)

In [10]:
a=7#0111 in binary form
b=9#1001 in binary form

In [11]:
a>>1

3

In [13]:
a<<1

14

In [14]:
a>>2

1

In [15]:
a<<2

28

In [16]:
b>>1

4

In [17]:
b<<1

18

In [18]:
# & means multiplication

In [19]:
a&b

1

In [20]:
a|b

15

In [21]:
~a
#0111 becomes 1000 and negative

-8

In [22]:
a^b

14

In [23]:
a=34.56565
round(a)

35

In [25]:
b= -9.34
abs(b)

9.34

In [27]:
c=3
pow(c,3)
#3*3*3

27

In [28]:
a=34.2035
round(a)

34

In [30]:
oct(24)#converting any decimal number to equivalent octal number

'0o30'

In [31]:
hex(24)#converting any decimal number to equivalent hexadecimal number

'0x18'

In [32]:
oct(20)

'0o24'

In [34]:
s="camel"
for ch in s:
    print(ch)
    #here ch is an iterater that is a variable that keeps on changing everytime

c
a
m
e
l

In [36]:
for i in range(7):
    print (i)

0
1
2
3
4
5
6

In [37]:
for i in range(1,7):
    print (i)

1
2
3
4
5
6

In [38]:
for i in range(7):
    print (i, end=",")
    #printing it in sequence form

0,1,2,3,4,5,6,

In [39]:
for i in range(7):
    print (i, end="+")
    #printing it in sequence form

0+1+2+3+4+5+6+

In [41]:
n = int(input("enter n"))
s=0
for i in range (1,n):
    R=1/i
    s=s+R
    print(R,end=",")
print(R, end=",")

enter n4
1.0,0.5,0.3333333333333333,0.3333333333333333,