# mock it 1

## corrected codes

In [ ]:

# Q1
x = int(input("enter value of x"))
for in range [0,10]:
    if x=y
        print(x+y)
    else
        print(x-y)

In [4]:
#CORRECTED
x = int(input("enter value of x"))
for y in range(0,10):
    if x==y:
        print(x+y)
    else:
        print(x-y)

enter value of x100
100
99
98
97
96
95
94
93
92
91

In [5]:
#CORRECTED
x = int(input("enter value of x"))
for y in range(0,10):
    if x==y:
        print(x+y)
    else:
        print(x-y)

enter value of x5
5
4
3
2
1
10
-1
-2
-3
-4

In [ ]:
#Q2
a,b=0
print(a)
print(b)

In [6]:
a=0
b=a
print(a)
print(b)

0
0

In [ ]:
#Q
a,b=0
if(a==b):
    a+b=c
print(z)

In [7]:
a=0
b=a
c=0
if(a==b):
    z=a+b
print(z)

0

In [ ]:
250=Number
WHILE number<=1000:
if Number=>750 print(Number)
Number=Number+100
else
print(Number*2)
Number=Number+50

In [9]:
Number=250
while Number<=1000:
    if Number>=750:
        print(Number)
        Number=Number+100
    else:
        Number=Number*2
    print(Number)
    Number=Number+50

500
1100

In [ ]:
#Q
Val=int(rawinput("Value:"))
Adder=0
for C inrange(1,Val,3)
Adder+=C if C%2=0:
Print(C*10)

Else:print(Adder)

In [13]:
Val=int(input("Value:"))
Adder=0
for C in range(1,Val,3):
    Adder+=C
    #this is equal to adder=adderr+c
    if C%2==0:
        print(C*10)#says divide this number by 2 and checl if its 0 or not
    else:
        print(C)
    print(Adder)

Value:67
1
1
40
5
7
12
100
22
13
35
160
51
19
70
220
92
25
117
280
145
31
176
340
210
37
247
400
287
43
330
460
376
49
425
520
477
55
532
580
590
61
651
640
715

In [ ]:
#Q
25= val
for I in the range (0,Val):
if I%2==0:
print(I+1)
Else:
print(I-1)

In [15]:
Val=25
for I in range (0,Val):
    if I%2==0:
        print(I+1)
    else:
        print(I-1)

1
0
3
2
5
4
7
6
9
8
11
10
13
12
15
14
17
16
19
18
21
20
23
22
25

## Output Finding

In [17]:
p=
10
q=
20
p*q=q//2
q+=p=q*
*2
print(p,
q)
#the answer for this was error

SyntaxError: invalid syntax (4199382514.py, line 1)

In [ ]:
#Q
String Str="Computer"
Str[-4:]
Str*2
#the answer was error

In [21]:
#an example, not the qtn
Str="Computer"
#Str[4:]
Str*2

'ComputerComputer'

In [1]:
#an example, not the qtn
Str="Computer"
Str[4:]
#Str*2

'uter'

In [2]:
x=20
x=x+5
x=x-10
print(x)
x,y

15

NameError: name 'y' is not defined

In [3]:
x

15

In [28]:
#three people eat dinner at a restaurant and want to split the bill the total is 352, and they want to leave a 15% tipe, 
#how much shud each person pay
total=352
p=total*0.15
f=total+p
a=f/3
a

134.93333333333334

In [31]:
#calculate the area and perimeter of a rectangle room, 12.5 meters by 16.7 meters .
l=12.5
b=16.7
p=2*(l+b)
print("perimeter of a rectangular room=",p)

perimeter of a rectangular room= 58.4

In [32]:
#if there are 3 buildings and 25 ninjas hiding om each roof and 2 tunnels with 40 samurai hiding each tunnel,
#how many ninjas and samurai are about to battle
b=3
nh=25
tn=b*nh
print("total ninjas are",tn)
tl=2
s=40
ts=tl*s
print("total samurai are", ts)
print("all together", tn+ts)

total ninjas are 75
total samurai are 80
all together 155

In [33]:
#the volume of a sphere with radius r is 4/3pir3. what is the volume of a sphere with radius 5?
#hints pi is abt 3.14
r=5
v=(4/3)*3.14*(r**3)
v

523.3333333333334

In [36]:
#suppose the cover price of a book is 249
#but bookstores get a 40%discount
#shipping cost 30 for the 1st copy
#rs 15 fpr each additional copy
# what is the total cost for 60 copies
bookcover=249
discount=bookcover*0.4
sh_cost=30+(59*15)
total=(bookcover*60)-discount*60+sh_cost
total

9879.0

## math

In [37]:
(3+4)*5

35

In [38]:
n=3
r=(n*(n-1))/2
r

3.0

In [41]:
#4pi r square
#if r
R = 4*3.14*3**2
R

113.04