# FUNCTIONS

In [7]:
def Add():
    a=2
    b=4
    c=a+b
    print("Addition of",a,"+",b,"=",c)
Add()

Addition of 2 + 4 = 6

In [9]:
#the same program but with an input parameter
def Add(a,b):
    c=a+b
    print("Addition of",a,"+",b,"=",c)
a=int(input("enter a"))
b=int(input("enter b"))
Add(a,b)

In [ ]:
Add(a,b)

In [10]:
def Add(a,b):
    c=a+b
    return c

In [11]:
a=int(input("enter a"))
b=int(input("enter b"))
R=Add(a,b)
print(R)

enter a6
enter b9
15

In [ ]:
#accept age and salary fromuser and perfomr the following
#1.ReadData() to accept inputs fromuser 
#2.Calculate() hike of 25% for the existing salary
#3.Display()print the calculated salary and age

In [12]:
def ReadData():
    age=int(input("enter age"))
    sal=int(input("enter salary"))
    return(age,sal)

In [13]:
def Calculate():
    A,S=ReadData()
    NetSal=S+(S*0.25)
    return(NetSal)

In [14]:
def Display():
    R=Calculate()
    print(R)

In [16]:
Display()

enter age23
enter salary45000
56250.0

In [ ]:
#Modularize: break the complete sequential flow  flow of one single program into small pieces of code 
    #easy to use small code specific a problem instead of focusing on entire code
    #write once call many times 
    #code will be smaller , more efficient etc

In [29]:
#function to find factorial of a number
def ReadData():
    n=int(input("enter n"))
    return n

In [30]:
def calculate(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return(f)

In [31]:
def Display(n,f):
    print("Factorial of {0} is {1} ".format(n,f))

In [40]:
#calling functions
Num= ReadData()
fact=calculate(Num)
Display(Num,fact)

enter n 5
Factorial of 5 is 120

In [41]:
for i in range(5):
    print(i)
i

0
1
2
3
4

4

# List

In [42]:
#list is a datastructure
#how the data is represented in the memory of the computer-datastructure
#list is representation of a node along with memory
L1=[]
type(L1)

list

In [43]:
L1

[]

In [44]:
L2=list()
L2

[]

In [ ]:
#the above r two ways to create empty lists

In [45]:
L1=[1,2,3,4,5,6,710,2903,90]
L1

[1, 2, 3, 4, 5, 6, 710, 2903, 90]

In [49]:
L2=list()
type(L2)

list

In [47]:
l3=list()
l3

[]

In [50]:
#built in functions under this
#append hlepd add something to the end of the list
L1.append(100)
L1

[1, 2, 3, 4, 5, 6, 710, 2903, 90, 100]

In [51]:
#to add something bw 4 and 5 
L1.insert(4,200)
L1
#here the 4 is the position where the positions start from 0,1,2,3..

[1, 2, 3, 4, 200, 5, 6, 710, 2903, 90, 100]

In [53]:
L2=[]
n=int(input("enter how many elements you want"))
for i in range(n):
    E=int(input("enter an element"))
    L2.append(E)
L2

enter how many elements you want10
enter an element100
enter an element3
enter an element5
enter an element8
enter an element9
enter an element0
enter an element12
enter an element34
enter an element22
enter an element56

[100, 3, 5, 8, 9, 0, 12, 34, 22, 56]

In [2]:
#ACCEPT name of a student 6 subject marks using list
Marks=[]
n=int(input("enter how many students you want"))
for i in range(n):
    Nm=input("enter your name ")
    M1=int(input("enter M1 "))
    Marks.append(M1)
    M2=int(input("enter M2"))
    Marks.append(M2)
    M3=int(input("enter M3 "))
    Marks.append(M3)
    M4=int(input("enter M4 "))
    Marks.append(M4)
    M5=int(input("enter M5 "))
    Marks.append(M5)
    M6=int(input("enter M6 "))
    Marks.append(M6)
    Sum= M1+M2+M3+M4+M5+M6
    Avg=Sum/6
    print("------------\n")
    print(Nm,"Marks")
    print("total=",Sum,"\t","Average=",Avg)

enter how many students you want2
enter your name Rose
enter M1 33
enter M244
enter M3 55
enter M4 66
enter M5 77
enter M6 88
------------

Rose Marks
total= 363 	 Average= 60.5
enter your name Uma
enter M1 99
enter M298
enter M3 97
enter M4 96
enter M5 95
enter M6 94
------------

Uma Marks
total= 579 	 Average= 96.5

In [1]:
n=int(input("enter a number"))
LS=[]
for i in range(n):
    E=int(input("enter an element"))
    LS.append(E)
LS

enter a number10
enter an element7
enter an element5
enter an element8
enter an element3
enter an element9
enter an element1
enter an element2
enter an element4
enter an element0
enter an element6

[7, 5, 8, 3, 9, 1, 2, 4, 0, 6]

In [4]:
#compare elements in position 0 and 1
LS[0]#accessing position 0

1

In [7]:
#bubble sort technique compares two elements
#if first element is larger , exchange, if not, dont
#for i in range(n):
 #   if(LS[i]>LS[i+1]):
  #      T=LS[i]
   #     LS[i+1]=T

In [2]:
%quickref

In [4]:
LS.sort?

In [5]:
LS.sort(reverse=False)
print(LS)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
LS.sort(reverse=True)
print(LS)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Using User defined Funtions with list

In [7]:
#fucntion with parameter and without return
def GetPercentage(N,Total,Maximum):
    Avg=(Total/Maximum)*100
    print("---------------------------")
    print(N,"PCM Percentage is ", round(Avg,3))

In [8]:
def GetDetails():
    n=int(input("enter how many students...?"))
    for i in range(n):
        maxi=300
        Name=input("enter ur name")
        M1=int(input("enter marks of maths"))
        M2=int(input("enter marks of physics"))
        M3=int(input("enter marks of chemistry"))
        All=M1+M2+M3
        GetPercentage(Name,All,maxi)
        print("-------------------------")

In [9]:
GetDetails()

enter how many students...? 2
enter ur name uma
enter marks of maths 98
enter marks of physics 98
enter marks of chemistry 98
---------------------------
 uma PCM Percentage is  98.0
-------------------------
enter ur name Paru
enter marks of maths 90
enter marks of physics 88
enter marks of chemistry 86
---------------------------
 Paru PCM Percentage is  88.0
-------------------------

# 1. function with parameter and with return

In [10]:
a=int(input("enter a "))
b=int(input("enter b "))

enter a 100
enter b 200

In [11]:
def Addition(x,y):
    z=x+y
    return z
#actual parameter-we send the value
#formal parameter-actual is copied

In [12]:
R=Addition(a,b)
print("sum of {0}+{1}={2}".format(a,b,R))

sum of 100+200=300

# 2.Function with parameter and without return

In [1]:
a=int(input("enter a "))
b=int(input("enter b "))

enter a 2
enter b 4

In [2]:
def Addition(x,y):
    z=x+y
    print("sum of {0}+{1}={2}".format(x,y,z))

In [3]:
Addition(a,b)

sum of 2+4=6

# 3. Function without parameter and with return

In [21]:
def Addition():
    a=int(input("enter a "))
    b=int(input("enter b"))
    c=a+b
    return c

In [22]:
Result=Addition()
print("Sum", Result)

enter a 75
enter b23
Sum 98

# 4. function without parameter and without return

In [23]:
def Addition():
    a=int(input("enter a "))
    b=int(input("enter b"))
    c=a+b
    return c

In [24]:
Addition()

enter a 56
enter b2

58

In [44]:
n=int(input("enter a number"))

enter a number 5

In [39]:
def table1(n):
    for i in range(1,11):
        print(n,"x",i,"=",n*i)
    print("\n--------------\n")

In [45]:
table1(n)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

--------------

In [46]:
#commercial industriak domestic qtn
Cat=input("enter[C/I/D]")
u=int(input("enter units consumed "))

enter[C/I/D]C
enter units consumed  7300

In [48]:
min=1500
if ((Cat=="c") or (Cat=="C")):
    if(u<=5000):
        BA=min
        print("bill amount=",BA)
    elif(u>=5001 and u<=10000):
        BA=min+(u-5000)*0.25
        print("bill amount=",BA)
    elif(u>=10001 and u<=20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23
        print("bill amount=",BA)
    elif(u>20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23+(u-20000)*0.20
        print("bill amount=",BA)

bill amount= 2075.0

In [49]:
Cat=input("enter[C/I/D]")
u=int(input("enter units consumed "))

enter[C/I/D]c
enter units consumed 12500

In [50]:
min=1500
if ((Cat=="c") or (Cat=="C")):
    if(u<=5000):
        BA=min
        print("bill amount=",BA)
    elif(u>=5001 and u<=10000):
        BA=min+(u-5000)*0.25
        print("bill amount=",BA)
    elif(u>=10001 and u<=20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23
        print("bill amount=",BA)
    elif(u>20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23+(u-20000)*0.20
        print("bill amount=",BA)

bill amount= 3950.0

In [1]:
Cat=input("enter[C/I/D]")
u=int(input("enter units consumed "))

enter[C/I/D]c
enter units consumed 18000

In [2]:
min=1500
if ((Cat=="c") or (Cat=="C")):
    if(u<=5000):
        BA=min
        print("bill amount=",BA)
    elif(u>=5001 and u<=10000):
        BA=min+(u-5000)*0.25
        print("bill amount=",BA)
    elif(u>=10001 and u<=20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23
        print("bill amount=",BA)
    elif(u>20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23+(u-20000)*0.20
        print("bill amount=",BA)

bill amount= 6590.0

In [1]:
Cat=input("enter[C/I/D]")
u=int(input("enter units consumed "))

enter[C/I/D]c
enter units consumed 38000

In [2]:
min=1500
if ((Cat=="c") or (Cat=="C")):
    if(u<=5000):
        BA=min
        print("bill amount=",BA)
    elif(u>=5001 and u<=10000):
        BA=min+(u-5000)*0.25
        print("bill amount=",BA)
    elif(u>=10001 and u<=20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23
        print("bill amount=",BA)
    elif(u>20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23+(u-20000)*0.20
        print("bill amount=",BA)

bill amount= 19790.0

In [5]:
Cat=input("enter[C/I/D]")
u=int(input("enter units consumed "))

enter[C/I/D]I
enter units consumed 17000

In [7]:
min=1500
if ((Cat=="i") or (Cat=="I")):
    if(u<=5000):
        BA=min
        print("bill amount=",BA)
    elif(u>=5001 and u<=10000):
        BA=min+(u-5000)*0.25
        print("bill amount=",BA)
    elif(u>=10001 and u<=20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23
        print("bill amount=",BA)
    elif(u>20000):
        BA=min+(u-5000)*0.25+(u-10000)*0.23+(u-20000)*0.20
        print("bill amount=",BA)

bill amount= 6110.0